  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="light-logo" viewBox="0 0 150 67">
      <path
        d="M10.16 40.36C11.7067 40.36 12.84 40.0667 13.56 39.48C14.28 38.8667 14.64 38.1067 14.64 37.2C14.64 36.3733 14.36 35.72 13.8 35.24C13.24 34.7333 12.3867 34.3067 11.24 33.96L8.68 33.16C7.66667 32.84 6.74667 32.48 5.92 32.08C5.09333 31.68 4.38667 31.2133 3.8 30.68C3.21333 30.12 2.76 29.48 2.44 28.76C2.12 28.0133 1.96 27.1333 1.96 26.12C1.96 23.96 2.77333 22.2533 4.4 21C6.02667 19.72 8.25333 19.08 11.08 19.08C12.2 19.08 13.2267 19.1733 14.16 19.36C15.12 19.52 15.9467 19.76 16.64 20.08C17.3333 20.3733 17.8667 20.7467 18.24 21.2C18.64 21.6533 18.84 22.16 18.84 22.72C18.84 23.2533 18.7067 23.72 18.44 24.12C18.2 24.4933 17.8933 24.8 17.52 25.04C16.88 24.5867 16.0267 24.2 14.96 23.88C13.92 23.5333 12.7733 23.36 11.52 23.36C10.1333 23.36 9.08 23.6133 8.36 24.12C7.64 24.6 7.28 25.2667 7.28 26.12C7.28 26.8133 7.52 27.3467 8 27.72C8.50667 28.0933 9.29333 28.4533 10.36 28.8L12.64 29.52C14.96 30.2133 16.76 31.16 18.04 32.36C19.32 33.56 19.96 35.1867 19.96 37.24C19.96 38.3333 19.7467 39.3333 19.32 40.24C18.8933 41.1467 18.2667 41.9333 17.44 42.6C16.64 43.24 15.6267 43.7333 14.4 44.08C13.2 44.4533 11.8267 44.64 10.28 44.64C9.05333 44.64 7.92 44.5333 6.88 44.32C5.86667 44.1067 4.98667 43.8267 4.24 43.48C3.49333 43.1067 2.90667 42.68 2.48 42.2C2.08 41.6933 1.88 41.1467 1.88 40.56C1.88 39.9467 2.05333 39.4267 2.4 39C2.77333 38.5467 3.2 38.2133 3.68 38C4.34667 38.5867 5.22667 39.1333 6.32 39.64C7.41333 40.12 8.69333 40.36 10.16 40.36ZM29.0844 38.12C29.0844 38.9733 29.3377 39.5867 29.8444 39.96C30.3777 40.3333 31.111 40.52 32.0444 40.52C32.4977 40.52 32.951 40.4667 33.4044 40.36C33.8844 40.2533 34.311 40.12 34.6844 39.96C34.8977 40.1733 35.071 40.44 35.2044 40.76C35.3644 41.0533 35.4444 41.4 35.4444 41.8C35.4444 42.6 35.0844 43.2667 34.3644 43.8C33.6444 44.3067 32.4844 44.56 30.8844 44.56C28.7777 44.56 27.111 44.0933 25.8844 43.16C24.6844 42.2 24.0844 40.6267 24.0844 38.44V20.08C24.2977 20.0267 24.6044 19.96 25.0044 19.88C25.431 19.8 25.8844 19.76 26.3644 19.76C27.2977 19.76 27.9777 19.9333 28.4044 20.28C28.8577 20.6267 29.0844 21.24 29.0844 22.12V25.44H34.9644C35.0977 25.6533 35.2177 25.9333 35.3244 26.28C35.431 26.6267 35.4844 27 35.4844 27.4C35.4844 28.0933 35.3244 28.6 35.0044 28.92C34.6844 29.24 34.2577 29.4 33.7244 29.4H29.0844V38.12ZM56.9169 40.28C56.9169 40.8933 56.8102 41.4133 56.5969 41.84C56.3835 42.24 55.9969 42.6 55.4369 42.92C54.6635 43.4 53.6769 43.8 52.4769 44.12C51.3035 44.44 49.9569 44.6 48.4369 44.6C47.0502 44.6 45.7969 44.44 44.6769 44.12C43.5569 43.8267 42.5969 43.36 41.7969 42.72C40.9969 42.08 40.3835 41.2667 39.9569 40.28C39.5302 39.2933 39.3169 38.12 39.3169 36.76V25.12C39.5302 25.04 39.8369 24.9733 40.2369 24.92C40.6635 24.84 41.1302 24.8 41.6369 24.8C42.5702 24.8 43.2635 24.9733 43.7169 25.32C44.1702 25.64 44.3969 26.2533 44.3969 27.16V36.68C44.3969 38.0667 44.7435 39.0667 45.4369 39.68C46.1569 40.2667 47.1702 40.56 48.4769 40.56C49.3035 40.56 49.9969 40.48 50.5569 40.32C51.1435 40.16 51.5835 39.9867 51.8769 39.8V25.12C52.0902 25.04 52.3969 24.9733 52.7969 24.92C53.2235 24.84 53.6769 24.8 54.1569 24.8C55.1169 24.8 55.8102 24.9733 56.2369 25.32C56.6902 25.64 56.9169 26.2533 56.9169 27.16V40.28ZM79.5331 40.32C79.5331 40.9333 79.3998 41.4267 79.1331 41.8C78.8665 42.1733 78.4665 42.5333 77.9331 42.88C77.2665 43.3067 76.3865 43.6933 75.2931 44.04C74.1998 44.4133 72.9331 44.6 71.4931 44.6C68.2931 44.6 65.7465 43.7867 63.8531 42.16C61.9865 40.5067 61.0531 37.9867 61.0531 34.6C61.0531 32.84 61.3065 31.3333 61.8131 30.08C62.3198 28.8 62.9998 27.7467 63.8531 26.92C64.7331 26.0933 65.7598 25.48 66.9331 25.08C68.1065 24.68 69.3731 24.48 70.7331 24.48C71.4531 24.48 72.1331 24.56 72.7731 24.72C73.4131 24.8533 73.9865 25.0267 74.4931 25.24V18C74.7065 17.92 75.0131 17.8533 75.4131 17.8C75.8398 17.72 76.2931 17.68 76.7731 17.68C77.7331 17.68 78.4265 17.8533 78.8531 18.2C79.3065 18.5467 79.5331 19.16 79.5331 20.04V40.32ZM74.4931 29.32C74.0931 29.08 73.6265 28.88 73.0931 28.72C72.5598 28.56 71.9865 28.48 71.3731 28.48C69.8798 28.48 68.6398 28.96 67.6531 29.92C66.6665 30.88 66.1731 32.4533 66.1731 34.64C66.1731 36.6933 66.6398 38.2 67.5731 39.16C68.5331 40.0933 69.8265 40.56 71.4531 40.56C72.1465 40.56 72.7331 40.48 73.2131 40.32C73.7198 40.16 74.1465 39.9733 74.4931 39.76V29.32Z"
        fill="#E90B5B" />
      <path
        d="M87.9884 44.08C87.1351 44.08 86.4551 43.8267 85.9484 43.32C85.4684 42.8133 85.2284 42.1333 85.2284 41.28V22.48C85.2284 21.6267 85.4684 20.96 85.9484 20.48C86.4551 19.9733 87.1351 19.72 87.9884 19.72H101.228C101.362 19.9333 101.482 20.2133 101.588 20.56C101.695 20.9067 101.748 21.2933 101.748 21.72C101.748 22.4133 101.588 22.9467 101.268 23.32C100.948 23.6933 100.508 23.88 99.9484 23.88H90.2684V29.56H100.028C100.162 29.7733 100.282 30.0533 100.388 30.4C100.522 30.72 100.588 31.0933 100.588 31.52C100.588 32.96 99.9751 33.68 98.7484 33.68H90.2684V39.88H101.388C101.522 40.0933 101.642 40.3867 101.748 40.76C101.882 41.1067 101.948 41.4933 101.948 41.92C101.948 43.36 101.335 44.08 100.108 44.08H87.9884ZM111.194 43.96C110.954 44.0133 110.634 44.08 110.234 44.16C109.834 44.24 109.38 44.28 108.874 44.28C107.94 44.28 107.247 44.1067 106.794 43.76C106.34 43.4133 106.114 42.8 106.114 41.92V29.24C106.114 28.5467 106.274 27.96 106.594 27.48C106.914 27 107.38 26.5733 107.994 26.2C108.82 25.6933 109.834 25.28 111.034 24.96C112.26 24.64 113.58 24.48 114.994 24.48C117.527 24.48 118.794 25.2667 118.794 26.84C118.794 27.2133 118.727 27.5733 118.594 27.92C118.487 28.24 118.367 28.5067 118.234 28.72C117.62 28.5867 116.86 28.52 115.954 28.52C115.02 28.52 114.14 28.6267 113.314 28.84C112.487 29.0533 111.78 29.32 111.194 29.64V43.96ZM134.26 31.8C134.26 30.6533 133.926 29.8133 133.26 29.28C132.62 28.7467 131.74 28.48 130.62 28.48C129.846 28.48 129.126 28.5733 128.46 28.76C127.82 28.9467 127.26 29.1867 126.78 29.48V43.96C126.54 44.0133 126.22 44.08 125.82 44.16C125.42 44.24 124.966 44.28 124.46 44.28C123.526 44.28 122.833 44.1067 122.38 43.76C121.926 43.4133 121.7 42.8 121.7 41.92V29.08C121.7 28.44 121.833 27.92 122.1 27.52C122.366 27.12 122.78 26.7333 123.34 26.36C124.113 25.8267 125.14 25.3867 126.42 25.04C127.7 24.6667 129.113 24.48 130.66 24.48C133.406 24.48 135.526 25.0933 137.02 26.32C138.54 27.52 139.3 29.2933 139.3 31.64V43.96C139.086 44.0133 138.766 44.08 138.34 44.16C137.94 44.24 137.5 44.28 137.02 44.28C136.06 44.28 135.353 44.1067 134.9 43.76C134.473 43.4133 134.26 42.8 134.26 41.92V31.8Z"
        fill="#0F0307" />
      <path
        d="M149.888 28.1078L145.209 18.5998C144.954 18.0817 144.529 17.6817 143.997 17.4586L134.225 13.3589C133.4 13.0128 132.475 13.9951 132.87 14.7974L133.686 16.455C133.017 16.611 132.369 16.9587 131.829 17.4988C131.416 17.4381 130.944 17.587 130.591 17.9622C130.27 18.3024 130.148 18.7271 130.188 19.1097L126.113 22.112C125.759 22.373 125.674 22.8576 125.939 23.1071L127.392 24.4757C127.657 24.7254 128.136 24.6117 128.375 24.2423L131.127 19.9946C131.512 20.0111 131.928 19.8634 132.249 19.5233C132.592 19.1582 132.712 18.6949 132.641 18.2934C133.107 17.838 133.701 17.6063 134.268 17.6394L137.549 24.3057C137.701 24.6144 138.048 25.1478 138.761 25.447L148.533 29.5467C149.358 29.8926 150.283 28.9106 149.888 28.1078ZM138.095 26.6415C137.096 26.222 136.61 25.4764 136.396 25.0417L133.964 20.0987L130.225 23.333C129.175 24.4485 130.55 27.4492 133.297 30.0357C136.044 32.6221 139.122 33.8147 140.172 32.6993L143.176 28.7729L138.095 26.6415Z"
        fill="#E90B5B" />
    </symbol>

    <symbol id="icon-layout-dashboard" viewBox="0 0 24 24">
      <title>Layout Dashboard</title>
      <rect width="7" height="9" x="3" y="3" rx="1"></rect>
      <rect width="7" height="5" x="14" y="3" rx="1"></rect>
      <rect width="7" height="9" x="14" y="12" rx="1"></rect>
      <rect width="7" height="5" x="3" y="16" rx="1"></rect>
    </symbol>

    <symbol id="icon-magnify-glass" viewBox="0 0 15 15" fill="currentColor">
      <path d="M14.5989 12.4012L11.8463 9.79787C11.722 9.68037 11.5536 9.61509 11.3769 9.61509H10.9269C11.6889 8.69337 12.1417 7.53403 12.1417 6.27286C12.1417 3.27269 9.57127 0.841736 6.39895 0.841736C3.22663 0.841736 0.656189 3.27269 0.656189 6.27286C0.656189 9.27304 3.22663 11.704 6.39895 11.704C7.73248 11.704 8.95834 11.2758 9.93295 10.5551V10.9807C9.93295 11.1478 10.002 11.3071 10.1262 11.4246L12.8789 14.0279C13.1384 14.2733 13.5581 14.2733 13.8148 14.0279L14.5962 13.2889C14.8557 13.0435 14.8557 12.6466 14.5989 12.4012ZM6.39895 9.61509C4.44696 9.61509 2.86494 8.12153 2.86494 6.27286C2.86494 4.4268 4.4442 2.93063 6.39895 2.93063C8.35093 2.93063 9.93295 4.42419 9.93295 6.27286C9.93295 8.11892 8.3537 9.61509 6.39895 9.61509Z"/>
    </symbol>

    <symbol id="icon-files" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round">
      <title>Icon File</title>
      <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
      <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
      <path d="M10 9H8"></path>
      <path d="M16 13H8"></path>
      <path d="M16 17H8"></path>
    </symbol>

    <symbol id="icon-location" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <title>Icon Location</title>
      <path d="M21 10c0 5.523-9 13-9 13s-9-7.477-9-13a9 9 0 1 1 18 0Z"></path>
      <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
    </symbol>

    <symbol id="icon-job-bag" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <title>Icon Job Bag</title>
      <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
      <rect width="20" height="14" x="2" y="6" rx="2"></rect>
    </symbol>

    <symbol id="icon-login" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <title>Icon Login</title>
      <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
      <polyline points="10 17 15 12 10 7"></polyline>
      <line x1="15" x2="3" y1="12" y2="12"></line>
    </symbol>

    <symbol id="icon-logout" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <title>Icon Logout</title>
      <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
      <polyline points="16 17 21 12 16 7"></polyline>
      <line x1="21" x2="9" y1="12" y2="12"></line>
    </symbol>

    <symbol id="icon-hamburger" viewBox="0 0 24 22">
      <title>Hamburger</title>
      <path d="M23.9322 17.2769H0.77124V21.6097H23.9322V17.2769Z" />
      <path d="M20.8471 9.06604H3.8562V13.3989H20.8471V9.06604Z" />
      <path d="M23.9322 0.855103H0.77124V5.18798H23.9322V0.855103Z" />
    </symbol>

    <symbol id="icon-close" viewBox="0 0 24 24">
      <title>close</title>
      <path
        d="M14.016 12l5.016-5.016-2.016-1.969-5.016 5.016-5.016-5.016-2.016 1.969 5.016 5.016-5.016 5.016 2.016 1.969 5.016-5.016 5.016 5.016 2.016-1.969-5.016-5.016z">
      </path>
    </symbol>

    <symbol id="linkedin" viewBox="0 0 16 16">
      <title>LinkedIn</title>
      <path
        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4" />
    </symbol>

    <symbol id="facebook" viewBox="0 0 16 16">
      <title>Facebook</title>
      <path
        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
    </symbol>

    <symbol id="messenger" viewBox="0 0 16 16">
      <title>Messenger</title>
      <path
        d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76m5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
    </symbol>

    <symbol id="instagram" viewBox="0 0 16 16">
      <title>Instagram</title>
      <path
        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
    </symbol>

    <symbol id="twitter" viewBox="0 0 16 16">
      <title>Twitter</title>
      <path
        d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
    </symbol>

    <symbol id="youtube" viewBox="0 0 16 16">
      <title>YouTube</title>
      <path
        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408z" />
    </symbol>

    <symbol id="people" viewBox="0 0 16 16">
      <title>People</title>
      <path
        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
    </symbol>

    <symbol id="icon-user" viewBox="0 0 24 24">
      <title>Icon User</title>
      <circle cx="12" cy="12" r="10"></circle>
      <circle cx="12" cy="10" r="3"></circle>
      <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"></path>
    </symbol>

    <symbol id="icon-user-add" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <title>Icon User Add</title>
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <line x1="19" x2="19" y1="8" y2="14"></line>
      <line x1="22" x2="16" y1="11" y2="11"></line>
    </symbol>

    <symbol id="icon-settings" viewBox="0 0 24 24">
      <title>Icon Settings</title>
      <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
      <circle cx="12" cy="12" r="3"></circle>
    </symbol>

    <symbol id="images" viewBox="0 0 16 16">
      <title>Images</title>
      <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
      <path
        d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z" />
    </symbol>

  </svg>