<p>
    Hello, <%= @company.name %>
    <br>
    <br>
    A new join request has been made by <%= @recruiter.full_name %> (<%= @recruiter.email %>).
    <br>
    Please review the request and take appropriate action from your dashboard.
</p>