<%# if authenticated %>
<% if current_control_unit %>
    <h1>Welcome, <%= current_control_unit.name %></h1>
    <p>Your email: <%= current_control_unit.email %></p>
    <%# logout button %>
    <%= button_to "Sign out", destroy_control_unit_session_path, method: :delete, class: "btn btn-primary" %>
<% end %>
