<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body>
    <%= render 'includes/components/alert' %>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
