<!DOCTYPE html>
<html>
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main class="mt-5 flex flex-col items-center">
      <%= yield %>
    </main>

  </body>
</html>
